---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro"
import Experience from "../components/Experience.astro";
import Sectioncontainer from "../components/SectionContainer.astro";
import SuitCase from "../icons/SuitCase.astro";
import Code from "../icons/Code.astro";
import Project from "../components/Project.astro";
import AboutMe from "../components/AboutMe.astro";
import TitleSection from "../components/TitleSection.astro";
import ProfileCheck from "../icons/ProfileCheck.astro"
---

<Layout
	title="Porfolio de Matias - Desarrollador y Programador Web"
	description="Contrata a Matias para crear tu aplicacion web. Desarrollador Web y Creador de Contenido. Desarrollador Front-End."
>
	<main class="px-4">
		<Sectioncontainer id="top" class="py-40 pb-20">
		<Hero/>
		</Sectioncontainer>

		<Sectioncontainer id="experiencia">
			<TitleSection>
				<SuitCase class="size-8" />
				Experiencia laboral
			</TitleSection>
			<Experience />
		</Sectioncontainer>

		<Sectioncontainer id="proyecto">
			<TitleSection>
				<Code class="size-7" />
				Proyectos
			</TitleSection>
			<Project />
		</Sectioncontainer>

		<Sectioncontainer  id="sobre-mi">
			<TitleSection>
			  <ProfileCheck class="size-8" />
			  Sobre mí
			</TitleSection>
			<AboutMe />
		  </Sectioncontainer>
	</main>
</Layout>
