<header class="flex justify-center items-center py-5 w-full lg:w-[1120px] mx-auto">
    
    <nav class=" text-white flex flex-col sm:flex-row gap-x-10 opacity-80">
        <a href="#top">Home</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyecto">Proyecto</a>
        <a href="#sobre-mi">Sobre mí</a>
        <button style="background-color:#007BFF; color:white; border:none; padding:10px 20px; border-radius:5px; cursor:pointer;">
            <a href="mailto:matias.baeza.escobar@gmail.com?subject=Interesado%20en%20tu%20perfil&body=Hola%20Matías,%0A%0AHe%20encontrado%20tu%20perfil%20y%20me%20gustaría%20contactarte%20para%20hablar%20sobre%20una%20oportunidad%20de%20trabajo.%0A%0A¿Podríamos%20agendar%20una%20reunión%20para%20discutir%20más%20detalles?%0A%0ASaludos,%0A%5BTu%20Nombre%5D" style="color:white; text-decoration:none;">Contáctame</a>
        </button>

    </nav>
</header>
